/* Navbar.css */
.underline-hover1:hover {
    text-decoration: underline;
    text-decoration-color: #0c44e1; /* Blue color for underline */
  }
  .underline-hover2:hover {
    text-decoration: underline;
    text-decoration-color: #0c44e1; /* Blue color for underline */
  }
  .underline-hover3:hover {
    text-decoration: underline;
    text-decoration-color: #0c44e1; /* Blue color for underline */
  }
  .underline-hover4:hover {
    text-decoration: underline;
    text-decoration-color: #0c44e1; /* Blue color for underline */
  }
  .underline-hover5:hover {
    text-decoration: underline;
    text-decoration-color: #0c44e1; /* Blue color for underline */
  }
  
   